/* Provide sufficient contrast against white background */


a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

a:hover {
  color: inherit;
}

a[role="button"]:hover {
  text-decoration: none;
  color: inherit;
}